@use "../common/mixins";
@use "../common/variables" as *;

@mixin about-mixin {
  content: "";
  display: block;
  height: 38px;
  min-width: 100%;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.about {
  @include mixins.container;
}

.about__list {
  @include mixins.list-reset;

  @media #{$media-t} {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.about__item {
  display: flex;
  flex-direction: column;
  gap: 18px;

  @media #{$media-t} {
    &:nth-child(1) {
      order: -5;
    }

    &:nth-child(2) {
      order: -3;
    }

    &:nth-child(3) {
      order: -1;
    }

    &:nth-child(4) {
      order: -4;
    }

    &:nth-child(5) {
      order: -2;
    }
  }

  &--flower::before {
    @include about-mixin();

    background-image: url("../img/ico/flower.svg");
  }

  &--money::before {
    @include about-mixin();

    background-image: url("../img/ico/money.svg");
  }

  &--like::before {
    @include about-mixin();

    background-image: url("../img/ico/like.svg");
  }

  &--tangle::before {
    @include about-mixin();

    background-image: url("../img/ico/tangle.svg");
  }

  &--rocket::before {
    @include about-mixin();

    background-image: url("../img/ico/rocket.svg");
  }

  &--gift::before {
    @include about-mixin();

    background-image: url("../img/ico/gift.svg");
  }
}

.about__text {
  font-weight: 700;
  line-height: 20px;

  @media #{$media-t} {
    font-size: 20px;
    line-height: 22px;
  }
}
