@use "../mixins.scss";

.about {
  width: var(--content-width);
  margin: 0 auto;
}

.about__list {
  @include mixins.list-reset;

  @media #{$media-t} {
    .about__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.about__item {
  @media (min-width: 678px) {
    &:nth-child(1) {
      order: -5;
    }

    &:nth-child(2) {
      order: -3;
    }

    &:nth-child(3) {
      order: -1;
    }

    &:nth-child(4) {
      order: -4;
    }

    &:nth-child(5) {
      order: -2;
    }
  }
}

.about__text {
  font-weight: 700;
  line-height: 20px;

  @media #{$media-t} {
    font-size: 20px;
    line-height: 22px;
  }
}
