@use "../common/variables" as *;

.add-product-basket {
  text-align: center;
  background-color: var(--white-color);
  margin-top: 1045px;
  box-sizing: border-box;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}
