@use "../common/mixins";
@use "../common/variables" as *;

.button {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  background: var(--white-color);
  border: 2px solid var(--light-black);
  text-align: center;

  &--green {
    color: var(--white-color);
    background-color: var(--light-green);
    border: none;
    width: 100%;
    margin-top: 29px;
    margin-bottom: 46px;
    text-transform: uppercase;
    padding-top: 18px;
    padding-bottom: 14px;

    @media #{$media-t} {
      width: auto;
      padding-left: 127px;
      padding-right: 127px;
    }
  }
}
