@use "../common/variables" as *;

.card {
  display: grid;
  grid-template-columns: 1fr 1fr 47px;
  grid-template-areas: "photo photo photo" "title title title" "description description description" "price . button";
  border: 1px solid #ececec;
  padding-bottom: 26px;
  box-sizing: border-box;

  @media #{$media-t} and (max-width: $desktop) {
    grid-template-columns: auto 216px auto 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "photo title title title" "photo description description description" "photo price button .";
    column-gap: 32px;
    padding-bottom: 0;
    align-items: start;
  }

  @media #{$media-d} {
    margin: 0;
    width: 316px;
    grid-template-columns: 1fr 1fr 53px;
    position: relative;
  }

  &:hover::before {
    @media #{$media-d} {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: calc(100% - 462px);
      z-index: -1;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }
  }

  &:focus-within::before {
    @media #{$media-d} {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: calc(100% - 462px);
      z-index: -1;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }
}

.card__photo-link {
  grid-area: photo;
}

.card__photo {
  display: block;

  @media #{$media-t} {
    width: 334px;
    height: 334px;
  }

  @media #{$media-d} {
    width: 316px;
    height: 462px;
  }
}

.card__product-name {
  font-size: 17px;
  line-height: 24px;
  grid-area: title;
  margin: 0;
  margin-top: 21px;
  margin-left: 28px;
  color: #000000;
  text-decoration: none;

  @media #{$media-t} {
    font-size: 20px;
    margin-top: 26px;
    margin-left: 0;
  }

  @media #{$media-d} {
    margin-top: 22px;
    margin-left: 27px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.card__description {
  font-size: 13px;
  line-height: 30px;
  color: var(--light-black);
  grid-area: description;
  margin: 0;
  margin-top: 5px;
  margin-left: 27px;
  position: relative;

  @media #{$media-t} {
    font-size: 15px;
    margin-left: 0;
  }

  @media #{$media-d} {
    margin-top: 0;
    margin-left: 27px;
    line-height: 29px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 204px;
    height: 1px;
    background-color: #ececec;
    left: 0;
    bottom: -18px;

    @media #{$media-t} {
      width: 268px;
      bottom: -175px;
    }

    @media #{$media-t} {
      width: 268px;
      bottom: -30px;
    }
  }
}

.card__price {
  font-weight: 700;
  font-size: 15px;
  grid-area: price;
  margin-bottom: 0;
  margin-top: 42px;
  margin-left: 27px;
  align-self: end;

  @media #{$media-t} {
    font-size: 17px;
    margin-bottom: 26px;
    margin-left: 0;
  }

  @media #{$media-d} {
    margin-top: 47px;
    margin-left: 27px;
  }
}

.card__button {
  grid-area: button;
  align-self: end;
  opacity: 0.2;
  margin-top: 43px;

  @media #{$media-t} {
    margin-bottom: 27px;
  }

  &:hover {
    opacity: 1;
    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }
}

.card__button-ico {
  @media #{$media-t} {
    width: 21px;
    height: 18px;
  }
}
