.card__product-name {
  font-size: 17px;
  line-height: 24px;
}

.card__description {
  font-size: 13px;
  line-height: 30px;
  color: var(--light-black);
}

.card__price {
  font-weight: 700;
  font-size: 15px;
}
