@use "../common/mixins";
@use "../common/variables" as *;

.categories {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  width: 100%;

  @include mixins.list-reset;

  @media #{$media-t} {
    font-size: 20px;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 668px;
    margin: 0 auto;
  }

  @media #{$media-d} {
    width: 1047px;
  }
}

.categories__item {
  background-color: var(--light-green);
  padding: 0;

  &:hover,
  &:active {
    background-color: #59d5bc;
  }

  @media #{$media-t} {
    width: 50%;
  }

  &--dark {
    background-color: var(--dark-green);

    &:hover,
    &:active {
      background-color: #46c1ae;
    }
  }
}

.categories__link {
  @include mixins.link(var(--white-color));
  padding-top: 24px;
  padding-bottom: 31px;
  display: flex;
  gap: 60px;
  justify-content: space-around;

  @media #{$media-t} {
    box-sizing: border-box;
    gap: 72px;
  }

  @media #{$media-d} {
    gap: 74px;
  }
}
