@use "../common/mixins";
@use "../common/variables" as *;

.categories {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  width: 100%;

  @include mixins.list-reset;

  @media #{$media-t} {
    font-size: 20px;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 668px;
    margin: 0 auto;
  }

  @media #{$media-d} {
    width: 1047px;
  }
}

.categories__item {
  background-color: var(--light-green);
  padding: 0;

  &:hover,
  &:active {
    background-color: #59d5bc;
  }

  @media #{$media-t} {
    width: 50%;
  }

  &--dark {
    background-color: var(--dark-green);

    &:hover,
    &:active {
      background-color: #46c1ae;
    }
  }
}

.categories__link {
  @include mixins.link(var(--white-color));
  padding-top: 24px;
  padding-bottom: 13px;
}

.categories__wrap {
  display: flex;
  gap: 91px;
  justify-content: center;

  @media #{$media-t} {
    box-sizing: border-box;
    gap: 90px;
    width: 262px;
  }

  @media #{$media-d} {
    gap: 74px;
  }

  &--lamp::after {
    content: url("../img/ico/lamp.svg");
    display: block;
    width: 40px;
    transform: translateX(-5px);
  }

  &--toy::after {
    content: url("../img/ico/toy.svg");
    display: block;
    width: 60px;
    transform: translate(2px, -4px);
  }
}

.categories__title {
  width: 130px;
  margin: 0;
}
