@use "../mixins.scss";

.comment {
  width: var(--content-width);
  margin: 0 auto;
}

@media (min-width: 678px) {
  .comment {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}

.comment__quote {
  font-size: 15px;
  line-height: 30px;
  color: var(--light-black);
  margin: 0;
}

@media (min-width: 678px) {
  .comment__quote {
    font-size: 17px;
    display: contents;
  }
}

@media (min-width: 678px) {
  .comment__text {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.comment__author {
  font-weight: 700;
}

@media (min-width: 678px) {
  .comment__author {
    font-size: 18px;
  }
}

.comment__author-login {
  font-weight: 400;
  line-height: 30px;
}

.comment__nav {
  display: flex;
}

.comment__button {
  @include mixins.link;
}

@media (min-width: 678px) {
  .comment__nav {
    grid-row-start: 3;
    grid-column-start: 2;
  }
}

@media (min-width: 678px) {
  .comment__button {
    grid-row-start: 1;
    grid-column-start: 2;
  }
}
