@use "../mixins.scss";

.contacts {
  @media (min-width: 1060px) {
    display: grid;
    grid-template-columns: 461px 527px;
    margin-left: auto;
    max-width: 988px;
  }
}

.contacts__wrap {
  width: $content-width;
  margin: 0 auto;
  max-width: 461px;

  @media #{$media-d} {
    max-width: 461px;
  }
}

.contacts__button {
  @include mixins.link;
  width: $content-width;
  margin: 0 auto;
  max-width: 400px;
}

.contacts__list {
  font-size: 14px;
  line-height: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media #{$media-t} {
    font-size: 17px;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    gap: 10px;
  }

  @media #{$media-d} {
    font-size: 14px;
    line-height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.contacts__value {
  margin: 0;

  @media #{$media-d} {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}

