@use "../common/mixins";
@use "../common/variables" as *;

.contacts {
  padding-bottom: 40px;

  @media #{$media-d} {
    display: grid;
    grid-template-columns: auto 527px;
    gap: 23px;
    margin: 0 auto;
  }
}

.contacts__wrap {
  @include mixins.container;

  @media #{$media-d} {
    max-width: 461px;
    box-sizing: border-box;
  }
}

.contacts__title {
  margin-top: 39px;
  margin-bottom: 29px;

  @media #{$media-t} {
    width: 100%;
    min-height: 81px;
    background-image: url("../../img/ico/flag.svg");
    background-repeat: no-repeat;
    background-position: 100% 0;
  }

  @media #{$media-d} {
    padding-left: 175px;
    margin-left: -175px;
    background-position: 80px 0;
  }
}

.contacts__button {
  @include mixins.container;
  @include mixins.link;
  width: 257px;
  margin-top: 41px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-top: 15px;
  padding-bottom: 13px;
}

.contacts__list {
  font-size: 14px;
  line-height: 30px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  row-gap: 30px;

  @media #{$media-t} {
    font-size: 17px;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    gap: 10px;
  }

  @media #{$media-d} {
    font-size: 14px;
    line-height: 30px;
    display: grid;
    grid-template-columns: 72px auto;
  }
}

.contacts__name {
  padding-right: 5px;
}

.contacts__value {
  margin: 0;
  margin-left: 12px;

  @media #{$media-d} {
    width: 248px;
  }
}

.contacts__map {
  width: 100vw;
  display: block;
  border: none;
  margin-top: 62px;

  @media #{$media-t} {
    height: 457px;
  }

  @media #{$media-d} {
    width: 527px;
  }
}
