@use "../common/mixins";
@use "../common/variables" as *;

.contacts {
  padding-bottom: 40px;

  @media #{$media-t} {
    padding-top: 7px;
    padding-bottom: 57px;
  }


  @media #{$media-d} {
    display: grid;
    grid-template-columns: auto 527px;
    gap: 23px;
    margin: 0 auto;
    padding-top: 53px;
  }
}

.contacts__wrap {
  @include mixins.container;

  @media #{$media-d} {
    max-width: 461px;
    box-sizing: border-box;
    padding-bottom: 49px;
  }
}

.contacts__title {
  margin-top: 39px;
  margin-bottom: 29px;

  @media #{$media-t} {
    width: 100%;
    min-height: 81px;
    background-image: url("../img/flag.svg");
    background-repeat: no-repeat;
    background-position: 618px 0;
    padding-top: 22px;
    margin-bottom: 19px;
  }

  @media #{$media-d} {
    padding-left: 175px;
    margin-left: -175px;
    background-position: 64px 41px;
    padding-top: 58px;
    margin-bottom: 0;
  }
}

.contacts__button {
  @include mixins.container;
  @include mixins.link;
  width: 246px;
  margin-top: 41px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 13px;

  @media #{$media-t} {
    margin-top: 55px;
    width: 216px;
  }

  @media #{$media-d} {
    margin-top: -6px;
    margin-left: 155px;
    margin-bottom: 49px;
  }
}

.contacts__list {
  font-size: 14px;
  line-height: 30px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  row-gap: 30px;

  @media #{$media-t} {
    font-size: 17px;
    grid-template-columns: 59px 1fr 73px 1fr;
    gap: 8px;
  }

  @media #{$media-d} {
    display: grid;
    grid-template-columns: 72px auto;
    margin-top: 11px;
    row-gap: 30px;
    column-gap: 5px;
  }
}

.contacts__name {
  padding-right: 5px;
}

.contacts__value {
  margin: 0;
  margin-left: 12px;

  @media #{$media-d} {
    width: 248px;
    margin-left: 0;
  }

  &--address {
    @media #{$media-t} {
      margin-left: 0;
    }
  }
}

.contacts__map {
  width: 100vw;
  display: block;
  border: none;
  margin-top: 62px;

  @media #{$media-t} {
    height: 457px;
    margin-top: 48px;
  }

  @media #{$media-d} {
    width: 527px;
    margin-top: 18px;
    margin-left: 20px;
    grid-row: 1/3;
    grid-column: 2/3;
  }
}
