@use "../common/variables" as *;

.copyright {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  display: flex;
  align-items: center;
  gap: 27px;

  @media #{$media-d} {
    margin-top: -6px;
  }
}

.copyright__link {
  color: #63d1bb;

  &:hover {
    color: #63d1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__link-ico {
  width: 27px;
  height: 34px;
}

.copyright__text {
  @media #{$media-t} {
    margin-bottom: 7px;
  }
}
