@use "../common/mixins";
@use "../common/variables" as *;

.form {
  &--grid {
    @media #{$media-t} {
      display: flex;
      flex-direction: column;
    }
  }
}

.form__fieldset {
  padding: 0;
  border: none;
  border-top: 1px solid var(--form-color);

  @media #{$media-t} {
    border: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
  }

  @media #{$media-d} {
    grid-template-columns: repeat(6, 1fr);
  }

  &--color {
    @media #{$media-t} {
      &::before {
        content: "";
        display: block;
        width: 100vw;
        height: 100%;
        position: absolute;
        left: calc((100% - 100vw) / 2);
        background-color: var(--gray);
        z-index: -1;
      }
    }
  }
}

.form__legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: var(--light-green);
  text-transform: uppercase;

  &--modal {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: var(--light-black);
  }
}

.form__item-wrap {
  @media #{$media-t} {
    grid-column-start: 2;
    grid-column-end: 5;
  }

  @media #{$media-t} {
    grid-column-start: 2;
    grid-column-end: 7;
  }

  &--flex {
    @media #{$media-t} {
      display: flex;
      flex-direction: column;
    }
  }

  &--grid {
    @media #{$media-t} {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @media #{$media-d} {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.form__list {
  @include mixins.list-reset;
  display: flex;
  justify-content: center;
}

.form__label {
  font-weight: 700;
  line-height: 18px;
  display: flex;

  @media #{$media-t} {
    flex-direction: column;
  }

  &--modal {
    line-height: 16px;
  }
}

.form__edit {
  font-size: 17px;
  line-height: 18px;
  flex-grow: 1;
}

.form__fooutnote {
  @media #{$media-t} {
    text-align: right;
    flex-grow: 1;
  }

  @media #{$media-d} {
    grid-column: 4/7;
  }
}

.form__button-wrap {
  @media #{$media-t} {
    display: flex;
  }

  @media #{$media-d} {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

.form__button {
  border: 2px solid var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;

  @media #{$media-t} {
    width: 230px;
  }

  @media #{$media-d} {
    grid-column: 2/4;
  }
}
