@use "../common/mixins";
@use "../common/variables" as *;

.form {
  &--grid {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 56px;

    @media #{$media-t} {
      margin-top: 0;
      padding-bottom: 50px;
    }
  }

  &--modal {
    @media #{$media-t} {
      width: 567px;
    }
  }
}

.form__ico {
  position: absolute;
  top: 0;
  right: 5px;
  opacity: 0.2;
  display: none;

  @media #{$media-t} {
    right: 26px;
    display: block;
  }
}

.form__fieldset {
  padding: 0;
  border: none;

  @media #{$media-t} {
    border: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
  }

  @media #{$media-d} {
    grid-template-columns: repeat(6, 1fr);
  }

  &--color {
    @media #{$media-t} {
      &::before {
        content: "";
        display: block;
        width: 100vw;
        height: 100%;
        position: absolute;
        left: calc((100% - 100vw) / 2);
        background-color: var(--gray);
        z-index: -1;
      }
    }
  }

  &--mail {
    @media #{$media-t} {
      padding-bottom: 50px;
    }
  }
}

.form__legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: var(--light-green);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;

  @media #{$media-t} {
    margin-top: 29px;
  }

  @media #{$media-d} {
    justify-self: center;
  }

  &--modal {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: var(--light-black);
    letter-spacing: -0.5px;
    margin-top: 16px;

    @media #{$media-t} {
      margin-top: 12px;
    }
  }

  &--line {
    @media (max-width: $tablet) {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      align-items: center;

      &::after {
        content: "";
        display: block;
        height: 1px;
        flex-grow: 1;
        background-color: var(--form-color);
      }
    }
  }

  &--name {
    margin-bottom: 28px;

    @media #{$media-t} {
      margin-top: 68px;
    }
  }

  &--phone {
    margin-top: 12px;
    margin-bottom: 6px;

    @media #{$media-t} {
      margin-top: 66px;
    }
  }

  &--mail {
    margin-top: 35px;
    margin-bottom: 6px;

    @media #{$media-t} {
      margin-top: 42px;
    }
  }

  &--additionally {
    margin-top: 34px;
    margin-bottom: 23px;

    @media #{$media-t} {
      margin-top: 70px;
    }
  }

  &--color {
    @media #{$media-t} {
      margin-top: 67px;
    }
  }
}

.form__item-wrap {
  @media #{$media-t} {
    grid-column-start: 2;
    grid-column-end: 5;
  }

  @media #{$media-t} {
    grid-column-start: 2;
    grid-column-end: 7;
  }

  &--flex {
    @media #{$media-t} {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  &--grid {
    @media #{$media-t} {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @media #{$media-d} {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--radio {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-top: 30px;
    padding-bottom: 32px;

    @media #{$media-t} {
      margin-top: 12px;
      gap: 26px;
      padding-bottom: 51px;
    }

    @media #{$media-d} {
      margin-left: -3px;
    }
  }

  &--checkbox {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-top: 25px;
    padding-bottom: 34px;

    @media #{$media-t} {
      margin-top: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: start;
      row-gap: 24px;
      padding-bottom: 50px;
    }

    @media #{$media-d} {
      margin-left: -1px;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 46px;
      column-gap: 12px;
      width: 773px;
    }
  }

  &--name {
    @media #{$media-t} {
      margin-top: 66px;
      gap: 18px;
      padding-bottom: 28px;
    }

    @media #{$media-d} {
      grid-column: 2/6;
    }
  }
}

.form__list {
  @include mixins.list-reset;
  display: flex;
  justify-content: center;

  &--modal {
    gap: 9px;

    @media #{$media-t} {
      margin-top: 7px;
    }
  }
}

.form__label {
  font-weight: 700;
  line-height: 18px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 19px;

  @media #{$media-t} {
    flex-direction: column;
    font-size: 19px;
    gap: 27px;
  }

  @media #{$media-d} {
    flex-direction: row;
    gap: 25px;
  }

  &--edit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    margin-bottom: 22px;

    @media #{$media-t} {
      flex-direction: row;
      gap: 25px;
    }
  }

  &--modal {
    line-height: 16px;
  }

  &--ico {
    position: relative;

    @media #{$media-t} {
      grid-column: 2/5;
      justify-self: stretch;
      margin-top: 61px;
    }
  }

  &--radio {
    @media #{$media-t} {
      flex-direction: row;
    }

    @media #{$media-d} {
      gap: 29px;
    }
  }

  &--checkbox {
    flex-direction: row;
  }

  &--mail {
    @media #{$media-t} {
      margin-top: 35px;
      letter-spacing: 1px;
    }

    & .form__ico {
      @media #{$media-t} {
        top: 5px;
        right: 22px;
      }
    }
  }

  &--size {
    display: block;
    padding: 17px 32px;
    border: 2px solid rgba(#444444, 0.1);
    margin-top: 20px;

    @media #{$media-t} {
      margin-top: 10px;
      padding: 17px 46px;
    }
  }
}

.form__control {
  display: block;

  &[type="radio"]:checked + .control::before {
    content: "";
    background-color: var(--form-color);
    width: 16px;
    height: 16px;
    border-radius: 50%;

    @media #{$media-t} {
      width: 20px;
      height: 20px;
    }
  }

  &[type="checkbox"]:checked + .control::before {
    content: url("../img/check.svg");
    width: 23px;
    height: 16px;
  }
}

.form__edit {
  font-size: 17px;
  line-height: 18px;
  background-color: transparent;
  width: 256px;
  border: none;
  box-shadow: inset 0 -2px 0 var(--black-color);
  padding-top: 16px;
  padding-bottom: 16px;

  @media #{$media-t} {
    padding-left: 17px;
    padding-top: 2px;
    flex-grow: 1;
    letter-spacing: 1.5px;
  }

  &--multi {
    box-shadow: none;
    border: 2px solid  var(--light-black);
    min-height: 142px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 16px;

    @media #{$media-t} {
      margin-top: 50px;
      padding-top: 15px;
      font-size: 19px;
      letter-spacing: 0;
    }

    @media #{$media-d} {
      grid-column: 2/6;
    }
  }

  &--ico {
    @media #{$media-t} {
      width: 100%;
      box-sizing: border-box;
      padding-bottom: 19px;
      letter-spacing: unset;
      padding-left: 18px;
    }
  }
}

.form__fooutnote {
  margin-top: 10px;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 16px;

  @media #{$media-t} {
    text-align: right;
    flex-grow: 1;
    font-size: 17px;
    line-height: 30px;
    margin-top: 16px;
    margin-bottom: 2px;
  }

  @media #{$media-d} {
    grid-column: 4/6;
  }
}

.form__button-wrap {
  @media #{$media-t} {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 48px;
  }

  @media #{$media-d} {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

.form__button {
  border: 2px solid var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  padding: 12px 0;
  background-color: transparent;

  @media #{$media-t} {
    width: 226px;
  }

  @media #{$media-d} {
    grid-column: 2/4;
    grid-row: 1/2;
    margin-top: 3px;
  }
}
