@use "../common/mixins";
@use "../common/variables" as *;

.hero {
  background-color: #fafafa;
  padding: 73px 0 85px;
  box-sizing: border-box;

  @media #{$media-t} {
    padding-top: 41px;
    padding-bottom: 56px;

    background-image: url("../img/line-tablet.svg");
    background-position: center bottom;
    background-size: 770px 24px;
    background-repeat: repeat-x;
  }

  @media #{$media-d} {
    padding-top: 30px;
    padding-bottom: 78px;
    background-size: 1150px 34px;
  }

  &--img {
    background-image: url("../img/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center -16px;
    background-size: 320px auto;
    padding-bottom: 102px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
    }

    @media (min-width: 708px) {
      min-height: 566px;
      background-image: url("../img/hero-tablet.jpg");
      background-position: center -69px;
      padding-top: 94px;
      background-size: 780px auto;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/hero-tablet@2x.jpg");
        background-size: 780px auto;
      }
    }

    @media (min-width: 1060px) {
      background-image: url("../img/hero-desktop.jpg");
      background-size: 1150px 746px;
      padding-top: 86px;
      min-height: 555px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/hero-desktop@2x.jpg");
        background-size: 1150px 746px;
      }
    }
  }

  &--form {
    padding-bottom: 55px;

    @media #{$media-d} {
      padding-bottom: 76px;
    }
  }
}

.hero__page-title {
  background-color: transparent;
}
