@use "../common/mixins";
@use "../common/variables" as *;

.main-header {
  mix-blend-mode: normal;
  box-shadow: 0 1px 0 #ececec, inset 0 1 0 #ececec;

  @include mixins.container;

  @media #{$media-t} {
    display: grid;
    grid-template-areas: "logo user-menu user-menu" "main-nav main-nav tablet";
    margin: 0;
  }

  @media #{$media-d} {
    grid-template-areas: "main-nav logo user-menu" "desktop desktop tablet";
  }
}

.main-header__logo {
  margin-left: 100px;

  @media #{$media-t} {
    grid-area: logo;
    margin-left: 20px;
  }
}

.main-header__menu-open {
  font-size: 0;
  line-height: 0;
  float: right;

  @media #{$media-t} {
    display: none;
  }
}

.main-header__main-nav {
  @media #{$media-t} {
    grid-area: main-nav;
    font-size: 15px;
    background-color: var(--gray);
    padding-left: 20px;
  }

  @media #{$media-d} {
    font-size: 17px;
    background-color: transparent;
  }
}

.main-header__user-menu {
  @media #{$media-t} {
    grid-area: user-menu;
    justify-self: end;
    margin-right: 20px;
  }
}

.main-header__tablet {
  display: none;

  @media #{$media-t} {
    grid-area: tablet;
    display: block;
    font-size: 15px;
    background-color: var(--gray);
    min-height: 100%;
    margin: 0;
    padding-right: 20px;
    text-align: right;
  }
}

.main-header__desktop {
  @media #{$media-d} {
    grid-area: desktop;
  }
}
