@use "../common/variables" as *;

.main-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-page__description {
  font-size: 13px;
  width: $content-width;

  @media #{$media-t} {
    width: 668px;
  }

  @media #{$media-d} {
    width: 1047px;
  }
}
