@use "../common/mixins";
@use "../common/variables" as *;

.main-nav {
  font-style: normal;
  font-weight: 700;
  width: 100%;
  display: none;

  @media #{$media-t} {
    display: flex;
    flex-wrap: wrap;
  }

  &--desktop {
    display: none;

    @media #{$media-d} {
      display: flex;
      width: 100%;
      column-gap: 50px;
    }
  }

  &--opened {
    @media (max-width: $tablet) {
      display: block;
    }
  }
}

.main-nav__link {
  @include mixins.link();

  font-size: 17px;
  display: block;
  width: 100vw;
  padding: 28px 0 27px 76px;
  box-sizing: border-box;

  @media (max-width: $tablet) {
    box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  }

  @media #{$media-t} {
    width: 167px;
    padding-left: 0;
    padding-top: 13px;
  }

  @media #{$media-d} {
    width: 174px;
  }

  &--shadow {
    @media #{$media-t} {
      padding-top: 20px;
      padding-bottom: 15px;
      letter-spacing: -1px;
    }

    @media #{$media-d} {
      padding-top: 33px;
      padding-bottom: 7px;
      letter-spacing: unset;
    }
  }

  &--shadow-padding {
    @media #{$media-d} {
      position: relative;
      margin-left: 11px;
      box-shadow: -2px 0 0 -1px #ffffff, -2px 0 0 0 rgba(#000000, 0.1);
      padding-left: 35px;
      width: auto;
    }
  }

  &--search {
    @media #{$media-t} {
      font-size: 0;
      width: 80px;
      border-left: 1px solid rgb(0 0 0 / 10%);
      border-right: 1px solid rgb(0 0 0 / 10%);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &--basket {
    @media #{$media-t} {
      width: 264px;
      text-align: right;
    }
  }

  &--desktop {
    width: max-content;
    font-size: 15px;
    padding-top: 20px;
    padding-right: 10px;
  }

  &:hover span {
    opacity: 0.6;
  }

  &:hover .main-nav__ico {
    opacity: 1;
    fill: var(--light-green);
  }

  &:active span {
    opacity: 0.3;
  }

  &:active .main-nav__ico {
    opacity: 0.3;
    fill: var(--light-green);
  }
}

.main-nav__ico {
  mix-blend-mode: normal;
  opacity: 0.2;
  height: 18px;

  @media #{$media-t} {
    width: max-content;
    padding-right: 0;
    padding-top: 21px;
    padding-left: 31px;
    background-repeat: no-repeat;
  }

  &--search {
    width: 18px;
    margin-left: -46px;

    @media #{$media-t} {
      margin-left: 0;
    }

    & + span {
      margin-left: 26px;
    }
  }

  &--basket {
    width: 21px;
    margin-right: 25px;
    margin-left: -46px;
  }
}
