.main-header {
  mix-blend-mode: normal;
  box-shadow: 0 1px 0 #ececec, inset 0 1 0 #ececec;
  width: var(--content-width);
  margin: 0 auto;
}

@media (min-width: 678px) {
  .main-header {
    display: grid;
    grid-template-areas: "logo user-menu user-menu" "main-nav main-nax tablet";
    column-gap: 20px;
  }
}

@media (min-width: 1060px) {
  .main-header {
    grid-template-areas: "main-nav logo user-menu" "desctop desctop tablet";
  }
}

.main-header__logo {
  margin-left: 100px;
}

@media (min-width: 678px) {
  .main-header__logo {
    grid-area: logo;
  }
}

.main-header__menu-open {
  font-size: 0;
  line-height: 0;
  float: right;
}

@media (min-width: 678px) {
  .main-header__menu-open {
    display: none;
  }
}

@media (min-width: 678px) {
  .main-header__main-nav {
    grid-area: main-nav;
    font-size: 15px;
  }
}

@media (min-width: 1060px) {
  .main-header__main-nav {
    font-size: 17px;
  }
}

@media (min-width: 678px) {
  .main-header__user-menu {
    grid-area: user-menu;
  }
}

.main-header__tablet {
  display: none;
}

@media (min-width: 678px) {
  .main-header__tablet {
    grid-area: tablet;
    display: block;
    font-size: 15px;
  }
}

@media (min-width: 1060px) {
  .main-header__desctop {
    grid-area: desctop;
  }
}
