@use "../mixins.scss";

.main-nav {
  font-style: normal;
  font-weight: 700;
}

.main-nav__menu-open {
  font-size: 0;
  line-height: 0;
  float: right;
}

.main-nav__list {
  @include mixins.list-reset;
}

.main-nav__link {
  @include mixins.link();
}

.main-nav__ico {
  mix-blend-mode: normal;
  opacity: 0.2;
}
