@use "../common/mixins";
@use "../common/variables" as *;

.main-header {
  width: 100vw;
  mix-blend-mode: normal;
  box-shadow: 0 1px 0 #ececec, inset 0 1 0 #ececec;
  height: 79px;
  z-index: 1;

  @include mixins.container;

  @media #{$media-t} {
    height: auto;
    font-size: 15px;
    width: 668px;
    display: grid;
    grid-template-areas: "logo user-menu user-menu" "main-nav main-nav tablet";
  }

  @media #{$media-d} {
    font-size: 17px;
    width: 1047px;
    grid-template-areas: "main-nav logo user-menu" "desktop desktop tablet";
  }

  &--nojs {
    @media (max-width: $tablet) {
      height: auto;
    }
  }
}

.main-header__logo {
  width: fit-content;
  height: 79px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  @media #{$media-t} {
    grid-area: logo;
    height: 89px;
    width: 100%;
  }

  @media #{$media-d} {
    justify-content: center;
  }
}

.main-header__logo-img {
  padding-top: 5px;

  @media #{$media-t} {
    width: 113px;
    height: 46px;
  }

  @media #{$media-d} {
    width: 149px;
    height: 72px;
  }
}

.main-header__menu-open {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 82px;
  height: 79px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  @media #{$media-t} {
    display: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-header__main-nav {
  background-color: var(--white-color);

  @media #{$media-t} {
    grid-area: main-nav;
    font-size: 15px;
    background-color: transparent;
  }

  @media #{$media-d} {
    font-size: 17px;
  }
}

.main-header__user-menu {
  background-color: var(--white-color);

  @media #{$media-t} {
    grid-area: user-menu;
    justify-content: flex-end;
    background-color: transparent;
  }
}

.main-header__tablet {
  display: none;

  @media #{$media-t} {
    grid-area: tablet;
    display: flex;
    font-size: 15px;
    background-color: var(--gray);
    min-height: 100%;
    margin: 0;
    justify-content: flex-end;
    position: relative;
    align-items: center;
  }

  &::before {
    content: "";
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    right: calc((668px - 100vw) / 2);
    background-color: var(--gray);
    z-index: -1;
    box-shadow: 0 -1px 0 0 rgba(#000000, 0.1);

    @media #{$media-d} {
      right: calc((1047px - 100vw) / 2);
    }
  }
}

.main-header__desktop {
  @media #{$media-d} {
    grid-area: desktop;
  }
}
