@use "../common/variables" as *;
@use "../common/mixins";

.main-footer {
  background-color: #f1f1f1;
  padding-top: 20px;

  @media #{$media-t} {
    padding-top: 52px;
    padding-bottom: 50px;
  }
}

.main-footer__wrap {
  @include mixins.container;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 260px;
  row-gap: 40px;

  @media #{$media-t} {
    flex-direction: row;
    justify-content: space-between;
    width: 668px;
  }

  @media #{$media-d} {
    width: 1047px;
  }
}

.main-footer__logo {
  display: none;
  color: var(--black-color);

  @media (min-width: 678px) {
    display: block;
  }

  @media #{$media-d} {
    margin-left: -2px;
    margin-top: 2px;
  }

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}
