@use "../common/variables" as *;

.main-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-page__description {
  font-size: 13px;
  width: 260px;
  margin-top: 18px;
  margin-bottom: 0;

  @media #{$media-t} {
    font-size: 17px;
    line-height: 30px;
    width: 668px;
    margin-top: 56px;
    margin-bottom: 52px;
  }

  @media #{$media-d} {
    width: 702px;
    margin-top: 100px;
  }
}
