.page-title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  width: $content-width;
  margin: 0 auto;
  text-align: center;
  max-width: 620px;

  @media #{$media-t} {
    font-size: 43px;
    line-height: 50px;
  }

  @media #{$media-d} {
    font-size: 53px;
    line-height: 57px;
  }
}
