.page {
  height: 100%;
}

.page__body {
  font-family: "Opensans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  min-height: 100%;

  min-width: calc($content-width + 10px);
  margin: 0;

  color: var(--black-color);
  background: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;

  @media #{$media-d} {
    width: $content-width;
    margin: 0 auto;
  }
}

.page__main-index {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page__modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 226, 75);

  &--hidden {
    display: none;
  }
}
