.product-create {
  width: var(--content-width);
}

@media (max-width: 1059px) {
  .product-create {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1060px) {
  .product-create {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}

@media (min-width: 1060px) {
  .product-create__video {
    grid-row-start: 1;
    grid-row-end: 4;
  }
}

.product-create__title {
  font-size: 20px;
}

@media (max-width: 677px) {
  .product-create__title {
    font-size: 17px;
    order: -1;
  }
}

.product-create__description {
  font-size: 15px;
  line-height: 30px;
  color: var(--light-black);
}

@media (max-width: 677px) {
  .product-create__description {
    font-size: 13px;
    line-height: 24px;
  }
}
