@use "../mixins.scss";

.product-promo {
  font-size: 15px;
  color: var(--light-black);
}

.product-promo__price {
  font-weight: 700;
  font-size: 17px;
}

.product-promo__button {
  @include mixins.link(var(--light-black));
}
