@use "../common/mixins";
@use "../common/variables" as *;

.product-card {
  @include mixins.container;

  @media #{$media-t} {
    margin-top: 38px;
    padding-top: 30px;
  }

  @media #{$media-d} {
    margin-top: 110px;
    padding-top: 0;
    width: 1046px;
  }
}

.product-card__list {
  @include mixins.list-reset;
  display: flex;
  flex-direction: column;
  gap: 28px;

  @media #{$media-t} {
    gap: 52px;
  }

  @media #{$media-d} {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -2px;
    gap: 50px;
  }
}
