@use "../common/variables" as *;
@use "../common/mixins";

.product-create {
  display: flex;
  flex-direction: column;

  @media #{$media-d} {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

.product-create__video {
  @media #{$media-d} {
    grid-row: 1/4;
    grid-column: 1/4;
  }
}

.product-create__title {
  font-size: 20px;
  width: 280px;

  @include mixins.container;

  display: flex;
  gap: 25px;

  @media (max-width: $tablet) {
    font-size: 17px;
    order: -1;
  }

  @media #{$media-t} {
    width: 611px;
    gap: 33px;
  }

  @media #{$media-d} {
    grid-column: 4/7;
    flex-direction: column;
  }

  &::before {
    content: url("../img/ico/camcorder.svg");
    display: block;
  }
}

.product-create__description {
  font-size: 15px;
  line-height: 30px;
  color: var(--light-black);
  width: 280px;

  @include mixins.container;

  @media (max-width: $tablet) {
    font-size: 13px;
    line-height: 24px;
  }

  @media #{$media-t} {
    width: 611px;
  }

  @media #{$media-d} {
    grid-column: 4/7;
  }
}

.product-create__button {
  width: 280px;

  @include mixins.container;

  @media #{$media-t} {
    width: 584px;
  }

  @media #{$media-d} {
    grid-column: 4/7;
  }
}
