@use "../mixins.scss";

.product-card {
  width: var(--content-width);
  margin: 0 auto;
}

.product-card__list {
  @include mixins.list-reset;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media #{$media-t} {
    gap: 54px;
  }

  @media #{$media-d} {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
