@use "../common/mixins";

.promo {
  color: var(--light-black);

  @include mixins.container;

  @media #{$media-t} {
    display: grid;
    grid-template-columns: 292px auto 100px;
    grid-template-areas: "title title type" "description img img" "parameter img img" "price img img" "button img img";
    column-gap: 42px;
  }

  @media #{$media-d} {
    grid-template-columns: 100px 292px auto;
    grid-template-areas: "type title img" ". description img" ". parameter img" ". price img" ". button img";
    column-gap: 43px;
    padding-left: 62px;
  }
}

.promo__title {
  @media #{$media-t} {
    grid-area: title;
  }

  @media #{$media-d} {
    max-width: 545px;
    width: max-content;
    z-index: 1;
  }
}

.promo__type {
  font-weight: 700;
  color: var(--light-green);

  @media #{$media-t} {
    grid-area: type;
  }
}

.promo__description {
  font-size: 15px;

  @media #{$media-t} {
    font-size: 17px;
    line-height: 30px;
    grid-area: description;
  }
}

.promo__parameter {
  font-size: 15px;
  line-height: 20px;
  display: grid;
  grid-template-columns: 97px 162px;

  @media #{$media-t} {
    grid-area: parameter;
  }
}

.promo__photo {
  @media #{$media-t} {
    grid-area: img;
  }
}

.promo__price {
  font-weight: 700;
  text-align: center;

  @media #{$media-t} {
    font-size: 20px;
    grid-area: price;
  }
}

.promo__button {
  @include mixins.link();
  text-align: center;

  @media #{$media-t} {
    grid-area: button;
  }
}
