@use "../common/mixins";
@use "../common/variables" as *;

.promo {
  color: var(--light-black);
  padding-bottom: 41px;

  @media #{$media-t} {
    display: grid;
    grid-template-columns: 292px auto 100px;
    grid-template-areas: "title title type" "description img img" "parameter img img" "price img img" "button img img";
    column-gap: 42px;
    padding-bottom: 68px;
    margin-top: 32px;
  }

  @media #{$media-d} {
    grid-template-columns: 100px 292px auto;
    grid-template-areas: "type title img" ". description img" ". parameter img" ". price img" ". button img" ". . img";
    column-gap: 28px;
    padding-left: 45px;
    margin-top: 15px;
    align-items: start;
  }
}

.promo__title {
  margin-bottom: 0;

  @media #{$media-t} {
    grid-area: title;
    margin-top: 0;
  }

  @media #{$media-d} {
    max-width: 545px;
    width: max-content;
    z-index: 1;
    margin-top: 105px;
  }
}

.promo__type {
  font-weight: 700;
  color: var(--light-green);
  margin-top: 2px;
  margin-bottom: 15px;

  @media #{$media-t} {
    grid-area: type;
    text-align: center;
    width: 75px;
    line-height: 19px;
    margin-top: 5px;
  }

  @media #{$media-d} {
    margin-top: 111px;
  }
}

.promo__description {
  font-size: 15px;
  margin-bottom: 0;

  @media #{$media-t} {
    font-size: 17px;
    line-height: 30px;
    margin-top: 32px;
    grid-area: description;
  }

  @media #{$media-d} {
    margin-top: 34px;
  }
}

.promo__parameter {
  font-size: 15px;
  line-height: 20px;
  display: grid;
  grid-template-columns: 97px 162px;
  row-gap: 20px;
  margin-top: 28px;

  @media #{$media-t} {
    grid-area: parameter;
    row-gap: 20px;
    margin-top: 47px;
    margin-bottom: 0;
  }

  @media #{$media-d} {
    margin-top: 59px;
    row-gap: 20px;
  }
}

.promo__value {
  margin-left: 0;
}

.promo__photo {
  width: 260px;
  display: block;
  margin-top: 43px;

  @media #{$media-t} {
    margin-top: 21px;
    grid-area: img;
    width: 334px;
  }

  @media #{$media-d} {
    width: 525px;
    justify-self: end;
  }
}

.promo__price {
  font-weight: 700;
  text-align: center;
  margin-top: 26px;

  @media #{$media-t} {
    font-size: 20px;
    grid-area: price;
    margin-top: 66px;
  }

  @media #{$media-d} {
    margin-top: 126px;
  }
}

.promo__button {
  @include mixins.link();
  text-align: center;
  margin-top: 24px;
  padding: 14px 0;
  letter-spacing: 0.01em;
  font-size: 18px;

  @media #{$media-t} {
    grid-area: button;
    margin-top: 11px;
  }
}
