.section-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: var(--black-color);
}

@media (min-width: 678px) {
  .section-title {
    font-size: 43px;
    line-height: 50px;
  }
}
