@use "../common/variables" as *;

.social {
  display: flex;
  gap: 18px;

  @media #{$media-d} {
    margin-left: 2px;
    margin-top: 1px;
  }
}

.social__link {
  color: #231f20;

  &:hover {
    color: #46c1ae;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link-ico {
  width: 28px;
  height: 22px;
  margin: 6px;
}
