@use "../../mixins";

.categories {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}

.categories__item {
  background-color: var(--light-green);
}

.categories__link {
  @include mixins.link(var(--white-color));
  padding-top: 24px;
  padding-bottom: 31px;

  &--dark {
    background-color: var(--dark-green);
  }
}
