@charset 'utf-8';
@use "./common/variables";
@use "./common/mixins";
@use "./common/fonts";
@use "./blocks/visully-hidden";
@use "./blocks/page";
@use "./blocks/section-title";
@use "./blocks/button";
@use "./blocks/main-header";
@use "./blocks/main-nav";
@use "./blocks/main-page";
@use "./blocks/hero";
@use "./blocks/page-title";
@use "./blocks/categories";
@use "./blocks/promo";
@use "./blocks/about";
@use "./blocks/comment";
@use "./blocks/contacts";
@use "./blocks/main-footer";
@use "./blocks/copyright";
@use "./blocks/control";
@use "./blocks/form";
@use "./blocks/product-card";
@use "./blocks/card";
@use "./blocks/product-create";
@use "./blocks/add-product-basket";
@use "./blocks/social";
@use "./blocks/line-bottom";

.main-nav--closed + .main-header__menu-open::before {
  content: "";
  position: absolute;
  display: block;
  top: 32px;
  left: 31px;
  width: 20px;
  height: 2px;
  background-color: #231f20;
  box-shadow: 0 6px 0 0 #231f20, 0 12px 0 0 #231f20;
}

.main-nav--opened + .main-header__menu-open {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 38px;
    left: 27px;
    width: 28px;
    height: 2px;
    background-color: #231f20;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
    box-shadow: none;
  }
}

// *:focus {
//   outline: none;
//   position: relative;

//   &::after {
//     content: "";
//     width: 100%;
//     height: 2px;
//     background-color: var(--light-green);
//     position: absolute;
//     bottom: -5px;
//     left: 0;
//   }
// }
